<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2025-01-10T21:34:25Z</date>
	<key>SUSendProfileInfo</key>
	<false/>
	<key>SUUpdateGroupIdentifier</key>
	<integer>2820402930</integer>
	<key>actionAfterLaunch</key>
	<integer>2</integer>
	<key>alwaysOpenInNewWindow</key>
	<false/>
	<key>currentInputConfigName</key>
	<string>VLC Default</string>
	<key>enableAdvancedSettings</key>
	<false/>
	<key>enableOSD</key>
	<false/>
	<key>oscPosition</key>
	<integer>2</integer>
	<key>playlistAutoAdd</key>
	<false/>
	<key>screenshotCopyToClipboard</key>
	<true/>
	<key>screenshotShowPreview</key>
	<false/>
	<key>recordPlaybackHistory</key>
	<false/>
	<key>recordRecentFiles</key>
	<false/>
	<key>showRemainingTime</key>
	<true/>
	<key>softVolume</key>
	<real>100</real>
</dict>
</plist>
