---
# clang-format -style=llvm -dump-config
#
MaxEmptyLinesToKeep: 3
ColumnLimit: 300
# TODO I really just wanna tell it not to fuck with lines ever... like never split nor combine lines
AllowShortEnumsOnASingleLine: false
# TODO look into "Break" options...
IndentWidth: 4
