root = true

[*]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
# end_of_line = lf

[*.lua]
# https://github.com/CppCXY/EmmyLuaCodeo#Style/blob/master/docs/format_config.md
# https://github.com/CppCXY/EmmyLuaCodeStyle/blob/master/lua.template.editorconfig
#   FYI using editorconfig for the formatter in the lua LS I am using (couldn't get defaultConfig to work in coc-settings.json)
#   TODO IIAC I have to set per repo/workspace? or can I have a global editorconfig (in this dotfiles repo? - w.r.t. the formatter using editorconfig for its options)
max_line_length = 200
align_continuous_inline_comment = false
# BTW zed lua extension works with this (as long as I load entire repo dir and not a subdir), cool
