snippet start
	<|start|>

snippet end
	<|end|>

snippet channel
	<|channel|>

snippet message
	<|message|>

snippet call
	<|call|>

snippet return "FYI return is decode only token, use <|end|> in message history"
	<|return|>

snippet constrain
	<|constrain|>

snippet msg
	<|start|>${1:header}<|message|>${0:content}<|end|>

snippet mu
	<|start|>user<|message|>${0:content}<|end|>

snippet mprefill
	<|start|>assistant

snippet ma_thinking
	<|start|>assistant<|channel|>analysis<|message|>${0:content}<|end|>
snippet ma_tool_call
	<|start|>assistant<|channel|>commentary to=functions.$1<|message|>${0:content}<|end|>
snippet ma_final
	<|start|>assistant<|channel|>final<|message|>${0:content}<|end|>

snippet system
	<|start|>system<|message|>You are ChatGPT, a large language model trained by OpenAI.
	Knowledge cutoff: 2024-06
	Current date: 2025-06-28
	Reasoning: ${1:high}
	# Valid channels: analysis, commentary, final. Channel must be included for every message.<|end|>

snippet system_with_tools
	<|start|>system<|message|>You are ChatGPT, a large language model trained by OpenAI.
	Knowledge cutoff: 2024-06
	Current date: 2025-06-28

	Reasoning: ${1:high}

	# Valid channels: analysis, commentary, final. Channel must be included for every message.
	Calls to these tools must go to the commentary channel: 'functions'.<|end|>


snippet developer
	<|start|>developer<|message|># Instructions

	${0:instructions}<|end|>

snippet dev_structured_output "put this at end of developer message"
	# Response Formats

	## {format name}

	// {description or context}
	{schema}<|end|>

snippet mt_tool_call_result
	<|start|>${0:toolname} to=assistant<|channel|>commentary<|message|>${0:output}<|end|>

snippet ma_tool_call_preamble
	<|start|>assistant<|channel|>commentary<|message|>**Action plan**:
	1. Generate an HTML file
	2. Generate a JavaScript for the Node.js server
	3. Start the server
	---
	Will start executing the plan step by step<|end|>

