# https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax
# TODO add more markdown snippets for GitHub formatting

# alerts docs:
# https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax#alerts
#
snippet note "GitHub Markdown Note"
> [!NOTE]
> ${1:content}

snippet tip "GitHub Markdown Tip"
> [!TIP]
> ${1:content}

snippet important "GitHub Markdown Important"
> [!IMPORTANT]
> ${1:content}

snippet caution "GitHub Markdown Caution"
> [!CAUTION]
> ${1:content}

snippet warning "GitHub Markdown Warning"
> [!WARNING]
> ${1:content}

