snippet writefile
with open('${1:filename}.txt', 'w') as f:
    f.write('${2:content}')

snippet richprint
from rich import print

# TODO do I like using i as prefix on all import snippets? or maybe f in the case of from * import *
snippet inp
import numpy as np

snippet f=
print(f'{${1:string}=}')

