# test as in test/corpus testing for tree-sitter grammars

snippet _test_corpus
	===========================================================|||
	${1:TEST NAME}
	:language(${2:LANGUAGE})
	===========================================================|||
	${0:input}
	-----------------------------------------------------------|||

snippet _test_corpus_harmony
	===========================================================|||
	${1:TEST NAME}
	:language(harmony)
	===========================================================|||
	${0:input}
	-----------------------------------------------------------|||


