

# TODO determine which schemas I want snippets for, a few ideas below (FYI there are more schemas available)
# ansible schemas are now part of ansible-lint: https://github.com/ansible/ansible-lint/tree/main/src/ansiblelint/schemas
snippet schema_ansible
	# yaml-language-server: $schema=https://raw.githubusercontent.com/ansible/ansible-lint/refs/heads/main/src/ansiblelint/schemas/ansible.json

snippet schema_ansible_inventory
	# yaml-language-server: $schema=https://raw.githubusercontent.com/ansible/ansible-lint/refs/heads/main/src/ansiblelint/schemas/inventory.json

snippet schema_ansible_playbook
	# yaml-language-server: $schema=https://raw.githubusercontent.com/ansible/ansible-lint/refs/heads/main/src/ansiblelint/schemas/playbook.json

snippet schema_ansible_tasks
	# yaml-language-server: $schema=https://raw.githubusercontent.com/ansible/ansible-lint/refs/heads/main/src/ansiblelint/schemas/tasks.json

snippet schema_ansible_galaxy
	# yaml-language-server: $schema=https://raw.githubusercontent.com/ansible/ansible-lint/refs/heads/main/src/ansiblelint/schemas/galaxy.json

snippet schema_ansible_lint_config
	# yaml-language-server: $schema=https://raw.githubusercontent.com/ansible/ansible-lint/refs/heads/main/src/ansiblelint/schemas/ansible-lint-config.json

snippet schema_ansible_requirements
	# yaml-language-server: $schema=https://raw.githubusercontent.com/ansible/ansible-lint/refs/heads/main/src/ansiblelint/schemas/requirements.json
